{% extends 'base.html.twig' %}

{% block title %}Crear Factura{% endblock %}

{% block body %}
<div class="container">
    <div class="justify-content-center">
        <br>
        {% for flashMessage in app.flashes('success') %}
            <div class="alert alert-primary" style="background-color: #add9f9!important;" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}

        <div class="card">
            <h5 class="card-header">Creación de Factura</h5>
            <div class="card-body">
                {{ form_start(form_create_invoice) }}
                {{ form_end(form_create_invoice) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
