<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirigir todo el tráfico a la carpeta public
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1 [L,QSA]

    # Asegurar que la carpeta public se lea correctamente
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^public/(.*)$ /public/index.php [L]
</IfModule>