<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Acueducto{% endblock %}</title>
        <link rel="icon" href="{{ asset('imagen/JAQ.png') }}">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include '_nav.html.twig' %}
            {% block body %}{% endblock %}
        <footer style="margin-top: 20px; background-color: #add9f9; width: 100%; height: 40px; text-align: right; padding: 10px; font-size: 12px">
            <p>Copyright ©{{  "now"|date("Y") }} Liever Rojas Scarpeta. All Rights Reserved</p>
        </footer>
    </body>
</html>
